.btnContainerPagination {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2.4rem;
    transition: all 3s ease;
    width: 100%;
}

.btnPagination {
    border: solid;
    border-color: rgba(2, 78, 116, 1);
    border-radius: 4px;
    border-width: 1px;
    cursor: pointer;
    padding: 8px 12px;
    text-align: center;
    width: 6rem;
}

.btnPagination>p {
    color: rgba(2, 78, 116, 1);
    font-family: "Roboto";
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.2rem;
}

.btnContainerRadio {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btnContainerRadio>div {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 4.8rem;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.container {
    margin: 0 5rem;
}

.grid {
    display: grid;
    column-gap: 0.75rem;
    grid-auto-flow: dense;
    grid-auto-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 0.75rem;
}

.gridItemContainer {
    background-color: rgb(253, 253, 253);
    border-color: rgb(227, 225, 229);
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 1px 1px rgba(227, 225, 229);
    padding: 0.5rem;
}

.headingContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.8rem;
}

.headingContainer>h3 {
    font-size: 2rem;
    font-weight: 500;
}

.itemContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: fit-content;
    transition: all 3s ease-in;
}

.itemContainer>p {
    line-height: 1.2;
    padding-left: 1rem;
}

.itemImageContainer {
    align-items: center;
    background-color: rgba(227, 225, 229);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.itemImage {
    border-radius: 50%;
    image-rendering: optimizeQuality;
    image-resolution: from-image;
    height: 3.6rem;
    object-fit: contain;
    resize: both;
    width: fit-content;
}

.sortOption {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.wrapper {
    align-items: normal;
    background-color: rgba(246, 246, 247, 1);
    border: solid;
    border-color: rgba(246, 246, 247, 1);
    border-width: 2px;
    display: flex;
    flex-direction: column;
    height: 47rem;
    justify-content: space-between;
    margin: 4.4rem auto;
    max-width: 80rem;
}

footer {
    max-height: 25rem;
    padding-top: 19.2rem;
}

input {
    cursor: pointer;
}